@import "bootstrap";
@import "charts";

body {
  overflow-y: scroll;
}

.body-view {
  padding-bottom: 100px;
}

.select-file-input-box {
  text-align: right;

  label,
  input {
    cursor: pointer;
    border: 3px dotted orange;
    display: inline-block;
    padding: 8px 15px;
  }

  label {
    border-right: 0;
  }
  input {
    border-left: 0;
  }
}

.footer-container {
  margin-top: 20px;
  border-top: 1px solid $gray-lighter;
  padding-top: 40px;
  padding-bottom: 20px;
}

